button {
    font-weight: bolder;
    text-transform: capitalize;
    border-radius: 3px;
    border: none;
    padding: 20px 40px;
    outline: 0;
    font-size: $tamanioTexto;
    margin: 0 3px;
    color: $colorBlanco;
    background-color: $colorSecundario;
    margin-top: 30px;
    &:hover{
        filter: brightness(80%);
    }
}

.boton__secundario{
    background-color: $colorTerciario;
}