@mixin portada($imagen) {
    height: $altoPantalla;
    background-image: $imagen;
    background-position: center center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $colorNegro;

    &__titulo{
        font-size: $tamanioTituloPrincipal;
        text-transform: capitalize;
        font-weight: bolder;
        max-width: 50rem;
        text-align: center;
    }

    &__sub__titulo{
        font-size: $tamanioTitulo;
        font-style: italic;
        margin-top: 0;
    }
}

.portada{
    @include portada($imagenPortada1);
}

.bg-imagen2{
    @include portada($imagenPortada2);
}