//Colores anteriores
$colorPrincipal: #ECB807;
$colorSecundario: #1D809F;
$colorTerciario: #343A40;
$colorBlanco: #FFFFFF;
$colorNegro: #000000;

@font-face {
    font-family: 'OpenSans-regular';
    src: url('../resources/font/OpenSans-Regular.ttf');
}
$fuente: 'OpenSans-regular';

$tamanioTituloPrincipal: 80px;
$tamanioTitulo: 24px;
$tamanioTexto: 16px;

$altoPantalla: 100vh;
$anchoPantalla: 100vw;

$altoIcono: 100px;
$anchoIcono: 100px;

$desktop: 768px;
$mobile: 456px;

$imagenPortada1: url('../resources/image/bg-masthead.jpg');
$imagenPortada2: url('../resources/image/bg-callout.jpg');