<h1>Artistas <small>Rock</small></h1>

<div class="card-columns mt-5">
    <div class="card animated fedeIn fast" *ngFor="let artist of artists; let i = index">
        <!-- <img src="../../../assets/img/ac-dc.jpg" class="card-img-top img-fluid" alt="..."> -->
        <!-- <img src="assets/img/ac-dc.jpg" class="card-img-top img-fluid" alt="..."> -->
        <!-- <img src="{{ artist.img }}" class="card-img-top img-fluid" alt="{{ artist.nombre }}"> -->
        <img [src]="artist.img" class="card-img-top img-fluid" [alt]="artist.nombre">
        <div class="card-body">
          <h5 class="card-title"> {{ artist.nombre }} </h5>
          <p class="card-text"> {{ artist.biografia }} </p>
          <p class="card-text"><small class="text-muted"> {{ artist.aparicion }} </small></p>

          <button (click)="verArtist(i)" type="button" class="btn  btn-outline-primary btn-block">
            Ver más...
          </button>

          <!-- <a [routerLink]="['/artist', i]" class="btn  btn-outline-primary btn-block">Ver más...</a> -->
        </div>
    </div>
</div>
