.item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    &__icon{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: $colorSecundario;
        margin-bottom: 5px;
        
        &:hover{
            background-color: $colorPrincipal;
        }
    }
}