* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $fuente;
}

@for $i from 1 through 12 {
    @if 12 % $i == 0 {
        .cols-#{$i} {
            width: 100 / (12 / $i) * 1%;
        }
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        margin-top: 0;
        margin-bottom: 0;
    }
}

section {
    padding: 80px 120px;
}