<<<<<<< HEAD
$colorPrincipal: #342525;
$colorSecundario: #F456f4;
$colorBlanco: #4324FF;
$colorNegro: #FF00F2;

// $colorPrincipal: #10B8C7;
// $colorSecundario: #F7F7F7;
// $colorBlanco: #FFFFFF;
// $colorNegro: #000000;
=======
$colorPrincipal: #222222;
$colorSecundario: #F6F6F6;
$colorBlanco: #333333;
$colorNegro: #111111;
>>>>>>> d573d439bbb5245a11e08dfca27f84adff2ef46b

@font-face {
    font-family: 'OpenSans-regular';
    src: url('../resources/font/OpenSans-Regular.ttf');
}
$fuente: 'OpenSans-regular';

$tamanioTituloPrincipal: 65px;
$tamanioTitulo: 24px;
$tamanioTexto: 16px;

$altoPantalla: 100vh;
$anchoPantalla: 100vw;

$desktop: 768px;
$mobile: 456px;