//Colores anteriores
$colorPrincipal: #10B8C7;
$colorSecundario: #F7F7F7;
$colorBlanco: #FFFFFF;
$colorNegro: #000000;
$colorTerciario: #8cb0e2;
$colorFooter: #818181;
$colorSubContainer: #222222;

@font-face {
    font-family: 'OpenSans-regular';
    src: url('../resources/font/OpenSans-Regular.ttf');
}
$fuente: 'OpenSans-regular';

$tamanioTituloPrincipal: 65px;
$tamanioTitulo: 24px;
$tamanioTexto: 16px;

$altoPantalla: 100vh;
$anchoPantalla: 100vw;

$altoIcono: 100px;
$anchoIcono: 100px;

$desktop: 768px;
$mobile: 456px;