.container{
    padding: 50px;
    background-color: #FFFFFF;

    .title{
        color: #000;
        font-size: 20px;
        text-decoration: underline;
        font-weight: bold;
    }

    .subtitle{
        font-size: 14px;
        font-style: italic;
    }
}