@font-face {
  font-family: "OpenSans-regular";
  src: url("../resources/font/OpenSans-Regular.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "OpenSans-regular";
}

.row {
  display: flex;
  flex-direction: row;
}
.row .cols-1 {
  width: 8.3333333333%;
  padding: 0 15px;
  margin: 0 5px;
}
.row .cols-2 {
  width: 16.6666666667%;
  padding: 0 15px;
  margin: 0 5px;
}
.row .cols-3 {
  width: 25%;
  padding: 0 15px;
  margin: 0 5px;
}
.row .cols-4 {
  width: 33.3333333333%;
  padding: 0 15px;
  margin: 0 5px;
}
.row .cols-6 {
  width: 50%;
  padding: 0 15px;
  margin: 0 5px;
}
.row .cols-12 {
  width: 100%;
  padding: 0 15px;
  margin: 0 5px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  padding: 120px 100px;
  text-align: center;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
}

button {
  font-weight: bolder;
  text-transform: capitalize;
  border-radius: 3px;
  border: none;
  padding: 20px 40px;
  outline: 0;
  font-size: 16px;
  margin: 0 3px;
  color: #FFFFFF;
  background-color: #1D809F;
  margin-top: 30px;
}
button:hover {
  filter: brightness(80%);
}

.boton__secundario {
  background-color: #343A40;
}

.boton__terciario {
  background-color: #FFFFFF;
  color: #000000;
}

.portada {
  height: 100vh;
  background-image: url("../resources/image/bg-masthead.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
}
.portada__titulo {
  font-size: 80px;
  text-transform: capitalize;
  font-weight: bolder;
  max-width: 50rem;
  text-align: center;
}
.portada__sub__titulo {
  font-size: 24px;
  font-style: italic;
  margin-top: 0;
}

.bg-imagen2 {
  height: 100vh;
  background-image: url("../resources/image/bg-callout.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
}
.bg-imagen2__titulo {
  font-size: 80px;
  text-transform: capitalize;
  font-weight: bolder;
  max-width: 50rem;
  text-align: center;
}
.bg-imagen2__sub__titulo {
  font-size: 24px;
  font-style: italic;
  margin-top: 0;
}

.seccion {
  background-color: #1D809F;
}
.seccion__titulo {
  font-size: 16px;
  text-transform: uppercase;
  color: #ECB807;
}
.seccion__sub__titulo {
  font-size: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 5px;
  font-weight: bold;
}

.color-seccion-2 {
  background-color: #FFFFFF;
}

.color-seccion-3 {
  background-color: #1D809F;
  color: #FFFFFF;
}

.color__negro {
  color: #000000;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__icon {
  height: 100px;
  width: 100px;
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.item i {
  color: #1D809F;
}
.item__title {
  color: #FFFFFF;
  font-weight: bold;
  margin: 16px 0;
  font-size: 20px;
}
.item__text {
  color: #FFFFFF;
  font-size: 14px;
  filter: brightness(80%);
}

.seccion__portafolio {
  display: flex;
  flex-wrap: wrap;
}

.portafolio {
  width: 50%;
}
.portafolio__contenedor__imagen {
  position: relative;
}
.portafolio__descripcion {
  position: absolute;
  top: 0;
  height: 100%;
  text-align: left;
  padding: 50px;
  padding-top: 50%;
  color: #FFFFFF;
}
.portafolio__descripcion:hover {
  background-color: #1D809F;
  opacity: 0.5;
  transition: 1s;
  transform: scale(0.8);
}
.portafolio__descripcion__titulo {
  font-size: 14px;
  font-size: bold;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__icons {
  display: flex;
  flex-direction: row;
}
.footer__icons__item {
  width: 66.6666666667px;
  height: 66.6666666667px;
  background-color: #1D809F;
  margin: 0 15px;
  padding: 18px;
  color: #FFFFFF;
  border-radius: 50%;
}
.footer__descripcion {
  margin-top: 25px;
  font-size: 10px;
}