<h1>Chat</h1>
<hr>

<div class="window-chat">
    <div class="text-right">
        <span class="badge badge-primary">Rolando</span>
        <p>
            Aquí va un mensaje
        </p>
    </div>

    <div>
        <span class="badge badge-success">Chanclas</span>
        <p>
            Aquí va un mensaje
        </p>
    </div>

    <div>
        <span class="badge badge-success">Chanclas</span>
        <p>
            Aquí va un mensaje
        </p>
    </div>

    <div>
        <span class="badge badge-success">Chanclas</span>
        <p>
            Aquí va un mensaje
        </p>
    </div>

    <div>
        <span class="badge badge-success">Chanclas</span>
        <p>
            Aquí va un mensaje
        </p>
    </div>

    <div class="text-right">
        <span class="badge badge-primary">Rolando</span>
        <p>
            Aquí va un mensaje
        </p>
    </div>

    <div class="text-right">
        <span class="badge badge-primary">Rolando</span>
        <p>
            Aquí va un mensaje
        </p>
    </div>

    <div>
        <span class="badge badge-success">Chanclas</span>
        <p>
            Aquí va un mensaje
        </p>
    </div>
</div>

<input type="text"
        name="mensaje"
        class="form-control"
        [(ngModel)]="mensaje"
        (keyup.enter)="enviarMensaje()"
        placeholder="Enviar mensaje"        
        >